In [2]:
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import sqlite3 as lite
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from collections import OrderedDict
import time
#from modules.backtesting import BackTester
from modules.db_manager import open_file, product_info

In [3]:
pinfo = product_info()

In [6]:
feed = open_file('h5py', 'training set/40day_trend_labeled_futures.h5', mode='r')

In [26]:
columns = ['open','high','low','close','trend']

In [9]:
len(feed.keys())

75

In [13]:
s=feed.keys()

In [49]:
columns = ['open','high','low','close','trend']
df = pd.DataFrame(columns=columns)
for (cnt, value) in enumerate(feed.values()):
    if cnt == 2:
        break
    if value.attrs['symbol'] == 'None':
        continue
    df2 = pd.DataFrame(value.value[:,[1,2,3,4,7]], index=value.value[:,0].astype('M8[s]'), columns=columns )
    df = pd.concat([df, df2], axis=1)
    #df = pd.DataFrame(value.value[:,[1,2,3,4,7]], index=value.value[:,0].astype('M8[s]'), columns=columns )

In [50]:
df.head()

,open,high,low,close,trend,open,high,low,close,trend
2005-03-01,NaN,NaN,NaN,NaN,NaN,0.4902,0.4902,0.4821,0.4852,1.0
2005-03-02,NaN,NaN,NaN,NaN,NaN,0.4867,0.4871,0.4760,0.4827,2.0
2005-03-03,NaN,NaN,NaN,NaN,NaN,0.4818,0.4842,0.4794,0.4825,2.0
2005-03-04,NaN,NaN,NaN,NaN,NaN,0.4808,0.4925,0.4797,0.4898,2.0
2005-03-07,NaN,NaN,NaN,NaN,NaN,0.4890,0.4924,0.4879,0.4913,2.0

In [51]:
col = [['AC','AC','AC','AC','AC','ST','ST','ST','ST','ST'], columns+columns ]

In [52]:
df.columns=col

In [53]:
df.head()

             AC                            ST
           open high  low close trend    open    high     low   close trend
2005-03-01  NaN  NaN  NaN   NaN   NaN  0.4902  0.4902  0.4821  0.4852   1.0
2005-03-02  NaN  NaN  NaN   NaN   NaN  0.4867  0.4871  0.4760  0.4827   2.0
2005-03-03  NaN  NaN  NaN   NaN   NaN  0.4818  0.4842  0.4794  0.4825   2.0
2005-03-04  NaN  NaN  NaN   NaN   NaN  0.4808  0.4925  0.4797  0.4898   2.0
2005-03-07  NaN  NaN  NaN   NaN   NaN  0.4890  0.4924  0.4879  0.4913   2.0

In [116]:
for k,i in df[:5].iterrows():
    s=i

In [118]:
s['AC']

open     NaN
high     NaN
low      NaN
close    NaN
trend    NaN
Name: 2005-03-07 00:00:00, dtype: object

In [ ]:
print("trading started. it takes few minutes...")
        columns = self.feed.attrs['columns'].split(';')
        for idx, raw in enumerate(self.feed.values()):
            symbol = raw.attrs['symbol']
            #이베스트 미거래종목 제외
            if symbol == 'None' or not symbol:
                continue

            else:
                data = pd.DataFrame(raw.value[:,1:], index=raw.value[:,0].astype('M8[s]'), columns=columns[1:])
                data.insert(0,'date', data.index)
                
                inst = Instrument(data, self.products[symbol], self.principal)
                self.strategy(inst)
                inst.run_trade()
                self.insts.append(inst)

                print(f'\rprocessing..({idx})', end='', flush=True)